* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.5vw;

    --color-background: #f5f5f5;
    --color-generic-text: #565656;
    --color-white-generic: #f5f5f5;
    --color-black-generic: #1d1d1d;
    --color-ribbon: #b71c1c;
    --color-ribbon-shadow: rgba(207, 44, 44, 0.341);
}
body {
    font-family: 'Montserrat';
    min-height: 100vh;
    color: var(--color-generic-text);
    overflow: hidden;
    
    background-color: var(--color-background);
}
.signs-bg-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.sign-bg {
    position: absolute;
    width: 100%;
    height: 66%;
    right: 0;
    bottom: 0;
    margin-bottom: 5rem;
    margin-right: 5rem;
    background-image: url('./bg_sign.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    position: relative;
}
.subtitle-c {
    font-size: 6rem;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    user-select: none;
}
.logos-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 10rem 0 0;
}

.central-logo.center-logo-active {
    transition: 3s;
    transform-origin: top left;
}
.lwh {
    opacity: 1;
    transition: 1s;
}
.hidden {
    opacity: 0;
}
.separator {
    background-color: var(--color-black-generic);
    width: .5rem;
    height: 10rem;
}
.logos-wrapper img {
    display: block;
    width: 12rem;
    height: 12rem;
    object-fit: contain;
}
.logos-wrapper p {
    font-size: 8em;
    font-weight: bold;
    text-align: center;
}
.logos-wrapper img.img-reduced {
    width: 5rem;
}
.logos-wrapper p.p-txt-l {
    font-size: 3rem;
}


.subtitle {
    color: var(--color-generic-text);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.simulation-area-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.simulation-area {
    position: relative;
    overflow: hidden;
    cursor: crosshair;
    touch-action: none;
    width: 100%;
    height: 100%;
}

.ribbon-container {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.ribbon {
    position: relative;
    height: 16rem;
    width: 100%;
    background-color: var(--color-ribbon);
    box-shadow: 0 1rem 1rem var(--color-ribbon-shadow);
    border-radius: 0;
    transition: transform 0.3s ease;
}


.ribbon::before,
.ribbon-part::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0%;
    width: 100%;
    height: 16rem;
    background: linear-gradient(to right, #b71c1c, #d32f2f, #b71c1c);
    opacity: 0.4;
    filter: blur(15px);
    border-radius: 3rem 0 0 3rem;
    transition: opacity 1s ease;
}

.ribbon-part.ribbon-part-active {
    transition: all 2s ease;
    opacity: 0;
}
.ribbon-part-active::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0%;
    width: 100%;
    height: 16rem;
    background: linear-gradient(to right, #b71c1c, #d32f2f, #b71c1c);
    opacity: 0;
    filter: blur(15px);
    border-radius: 3rem 0 0 3rem;
    transition: opacity 1s ease;
}
.ribbon-part-active {
    position: absolute;
    z-index: 1;
}
.ribbon-part-active::after {
    content: '';
    position: absolute;
    top: -3rem;
    left: -5%;
    width: 110%;
    height: 18rem;
    background: linear-gradient(to right, #e78f2e, #ce6d20, #e78f2e);
    opacity: 0;
    visibility: hidden;
    animation: 2s ease-in-out 1s ribbon-active-anim;
    animation-fill-mode: forwards;
    filter: blur(15px);
    border-radius: 3rem 0 0 3rem;
    z-index: -1;
}

@keyframes ribbon-active-anim {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: initial;
    }
    100% {
        opacity: 0.5;
        visibility: initial;
    }
}

.ribbon-part {
    position: absolute;
    top: 50%;
    height: 16rem;
    background-color: #b71c1c;
    box-shadow: 0 1rem 3rem rgba(183, 28, 28, 0.3);

    transition: all 0.5s ease;
    pointer-events: none;
}

.ribbon-right-anim {
    animation: .5s cubic-bezier(0.73, 0.13, 1, 1) .1s ribbon-r-animate;
    animation-fill-mode: forwards;
    transform-origin: top right;
}

.ribbon-left-anim {
    animation: .77s cubic-bezier(0.73, 0.13, 1, 1) .1s ribbon-l-animate;
    animation-fill-mode: forwards;
    transform-origin: top left;
}

@keyframes ribbon-r-animate {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    99% {
        transform: rotate(-90deg);
        opacity: 0.5;
        background: linear-gradient(to right, #b71c1c00, #d32f2f75, #b71c1c);
    }
    100% {
        transform: rotate(90deg);
        opacity: 0;
    }
}

@keyframes ribbon-l-animate {
    0% {
        transform: rotate(0);
        background: linear-gradient(to right, #b71c1c, #d32f2f, #b71c1c);
        opacity: 1;
    }
    99% {
        transform: rotate(90deg);
        opacity: 0.5;
        
        background: linear-gradient(to right, #b71c1c, #d32f2f75, #b71c1c00);
    }
    100% {
        transform: rotate(90deg);
        opacity: 0;
    }
}

.central-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cut-line {
    position: absolute;
    height: 4px;
    background-color: #aaa;
    transform-origin: 0 0;
    pointer-events: none;
    z-index: 10;
}

.cut-line::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -8px;
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
}

.scissors {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.cut-effect {
    position: absolute;
    width: 10px;
    height: 20rem;
    background: linear-gradient(to right, transparent, white, transparent);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

footer {
    margin-top: 1rem;
    color: var(--color-background);
    padding: 1rem;
    width: 33%;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
footer p {
    font-size: 2rem;
}

.ribbon::after,
.ribbon-part::after {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0 -25%, 100% top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(0, 0, 0, 0.04)), color-stop(40%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(65%, rgba(255, 255, 255, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-size: 200%;
  animation-name: flutter;
  animation-duration: 8s;
  animation-timing-function: cubic-bezier(0.16, 0.14, 0.82, 0.73);
  animation-iteration-count: infinite;
}
@keyframes flutter {
  0% {
    background-position: -200% 0px;
  }
  30% {
    background-position: -60% 5px;
  }
  70% {
    background-position: 70% -5px;
  }
  100% {
    background-position: 200% 0px;
  }
}
@keyframes wave {
  0% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0) rotateY(22deg);
  }
  20% {
    box-shadow: 4px 5px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0) rotateY(0deg);
  }
  40% {
    box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0) rotateY(-22deg);
  }
  60% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0) rotateY(0deg);
  }
  80% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0) rotateY(16deg);
  }
  100% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0) rotateY(22deg);
  }
}
